/* utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear:both;
}

/* general */
main {
    margin: 0 auto;
    width: 60%;
    min-width: 1200px;
    min-height: 500px;
    /* background-color: blue; */
    font-family:'Fredoka', sans-serif;
    text-align: center;
    padding: 30px 15px;
}

/* header */
h1 {
    color: rgb(229, 49, 112);
    font-size: 40px;
}

p {
    margin-top: 15px;
    padding: 20px 0;
    color: rgb(44, 44, 44);
}

/* all team cards */
#all-cards {
    background-color: red;
}

/* single column */
.col {
    background-color: rgb(147, 199, 245);
    border: 1px solid black;           
    width: calc(100% / 3);
    min-height: 400px;
    float: left;
    color: white;    
}

.col div {
    background-color: black;
}

.col img {
    width: 30%;
    float: left;
}