/* utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear:both;
}

/* general */
main {
    margin: 0 auto;
    width: 70%;
    min-width: 1200px;
    min-height: 500px;
    background-color: blue;
    font-family:'Fredoka', sans-serif;
    text-align: center;
    padding-top: 30px;
}